.card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 48px;
  width: 100%;
  /* max-height: 328px; */
  background: #ffffff;
  border-radius: 24px;
}

.avatarWrapper {
  position: relative;
  display: inline-block;
}

.avatarBorder {
  display: inline-block;
  padding: 12px;
  background: #ffffff;
  border: 3px solid #fbe9ba;
  border-radius: 50%;
}

.avatar {
  display: block;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.online {
  position: absolute;
  width: 12px;
  height: 12px;
  background: #38cd3e;
  border: 2px solid #ffffff;
  border-radius: 50%;
  top: 32px;
  right: 22px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

/* ======================================================= */
.infoTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 10px;
  width: 180px;
}

.textLeft {
  /* width: 79px;
  height: 24px; */
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;

  color: #8a8a89;
  margin-bottom: 8px;
}

.surname {
  /* width: 122px;
  height: 24px; */
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #121417;
}

/* ====================== */

.textRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.infoItem {
  gap: 2px;
  position: relative;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #121417;
}

.infoItem:not(:last-child)::after {
  content: "|";
  position: absolute;
  right: 0;
  color: #ccc;
  font-weight: 400;
}

.iconBook {
  width: 16px;
  height: 16px;
  color: #555;
}

.iconStar {
  width: 16px;
  height: 16px;
  color: #ffa500;
}

.prices {
  color: #38cd3e;
  font-weight: bold;
  margin-left: 4px;
}

.heartBtn {
  margin-left: auto;
}

.heartBtn {
  background: none;
  border: none;
  transition: transform 0.2s ease;
  width: 26px;
  height: 26px;
}

.heartBtn:hover {
  transform: scale(1.2);
}

/* ======================================================= */
.infoMain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}

.speak {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.speaks {
  font-weight: 500;
  line-height: 1.5;
}

.strong {
  line-height: 24px;
  color: #8a8a89;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  background-color: transparent;
  border: none;
  padding: 10px 0;
  margin-bottom: 12px;
}

.levels {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.reviews {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 32px;
  margin: 32px 0;
}

.reviewCard {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 16px;
}

.header {
  display: flex;
  /* flex-direction: column;
  justify-content: center; */
  align-items: center;
  gap: 12px;
}

.ava {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.infoText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
}

.rat {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;

  color: #121417;
}

.star {
}

.comment {
  font-weight: 500;
  line-height: 24px;
  color: #121417;
}

.levelTag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  /* background: #e4e4e4; */
  border-radius: 35px;
  font-weight: 500;
  font-size: 14px;

  border: 1px solid rgba(18, 20, 23, 0.2);
}

.highlight {
  background: #f4c550;
}
