.wrapper {
  background-color: #f8f8f8;
}

.teachersList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding-bottom: 96px;
}

.loaderWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleFavorite {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 28px;
  line-height: 56px;
}

.emp {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 18px;
}
