.header {
  padding: 16px 0;
  background-color: transparent;
}

.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logoText {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
}
/* --- Mobile First --- */
.burger {
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

.nav {
  display: none;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  top: 64px;
  right: 16px;
  background: #fff;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.nav.open {
  display: flex;
}

.link {
  text-decoration: none;
  color: var(--black);
  padding: 4px 8px;
  transition: color 0.3s, border-bottom 0.3s;
}

.link:hover {
  color: var(--yellow);
}

.auth {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btnLog,
.btnReg {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  gap: 8px;
  line-height: 1.25;
  font-weight: 700;
  font-size: 12px;
  padding: 0 20px;
  border-radius: 12px;
}

.btnLog {
  color: #121417;
  background-color: transparent;
}

.btnReg {
  height: 24px;
  background-color: #121417;
  color: #fff;
}

.btnLog:hover {
  background-color: transparent;
}
/* --- Tablet --- */
@media (min-width: 768px) {
  .burger {
    display: none;
  }

  .auth {
    flex-direction: row;
    gap: 16px;
  }

  .btnLog,
  .btnReg {
    font-size: 16px;
    height: 48px;
  }

  .nav {
    display: flex;
    flex-direction: row;
    position: static;
    gap: 20px;
    background: transparent;
    box-shadow: none;
  }
}

/* --- Desktop --- */
@media (min-width: 1200px) {
  .nav {
    gap: 28px;
  }

  .btnReg {
    padding: 0 28px;
  }
}
