.header {
  padding: 20px 0;
  background-color: transparent;
}

.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logoText {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.nav {
  display: flex;
  gap: 28px;
}

.auth {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btnLog {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #121417;
  border: none;
  background-color: transparent;
}

.btnLog:hover {
  background-color: transparent;
}

.imgLogin {
  width: 20px;
  height: 20px;
}

.btnReg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 48px;
  background: #121417;
  border-radius: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  border: none;
}

.link {
  text-decoration: none;
  color: var(--black);
  padding: 4px 8px;
  transition: color 0.3s, border-bottom 0.3s;
}

.link:hover {
  color: var(--yellow);
}

.active {
  border-bottom: 2px solid var(--yellow);
  font-weight: 500;
}
